<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <!--La siguiente linea es necesaria para no obtener el mensaje de error "get favicon"-->
    <link rel="shortcut icon" href="#" />
    <title>Create</title>
</head>

<body>
    <header>
        <div class="content-icon">
            <button id="btn-menu"><i class="fas fa-bars"></i></button>
            <img src="img/logo2.png" alt="logo">
        </div>
        <div class="content-options oculto" id="options-menu">
            <a href="#">Mi cuenta</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
            <a href="#">Cerrar Sesión</a>
        </div>
    </header>
    <main class="main-create">
        <div class="menu-opciones-create">
            <button class="b-active"><a href="#">Crear</a></button>
            <button><a href="#">Enviar</a></button>
            <button><a href="#">Fin</a></button>
        </div>
        <div class="logo">
            <button class="addbutton">Añadir Logo</button>
        </div>
        <form action="" id="form-encuesta">
            <div class="content-create">
                <div class="insidemenu">
                    <div id="firstcolumnmenu">
                        <ul id="accordion">
                            <li>
                                <button class="btn"><i class="fas fa-bars"></i></button>
                                <ul class="hid">
                                    <li><a href="">Editar</a></li>
                                    <li><a href="">Copiar</a></li>
                                    <li><a href="">Eliminar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <input type="text" value="" class="name">
                </div>

                <label for="nombreEncuesta">Nombre de la Encuesta...</label>
            </div>
            <div class="content-create">
                <textarea type="text" value="" class="description"></textarea>
                <label for="nameDescription">Descripcion...</label>
            </div>
            <!--<div id="questions">-->
            <div class="content-create" id="namePregunta0">
                <textarea type="text" value="" class="question"></textarea>
                <div class="test">
                    <div class="dropdown">
                        <button onclick="tipoPreguntas()" class="dropbtn">Tipo</button>
                        <i class="fas fa-sort-down icon"></i>
                        <div id="myDropdown" class="dropdown-content">
                            <ul>
                                <li><a href="">Multiple-choice (simple)</a></li>
                                <li><a href="">Multiple-choice (multiple)</a></li>
                                <li><a href="">Menu Desplegable</a></li>
                                <li><a href="">Escala Opinion</a></li>
                                <li><a href="">Pregunta Abierta</a></li>
                                <li><a href="">Formulario de Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <label for="namePregunta">Introduzca su pregunta...</label>
            </div>
            <!--</div>-->

            <div class="menu-extra">
                <button class="addquestion" onclick="nuevaPregunta()"><a href="#">Añadir una pregunta+</a></button>
                <button class="preview"><a href="#">Vista Previa</a></button>
                <button class="endsurvey"><a href="#">Terminar Encuesta</a></button>
            </div>
        </form>
    </main>
    <script src="js/menu.js"></script>
    <script src="js/create.js"></script>
</body>

</html>