<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>End</title>
</head>

<body>
    <header>
        <div class="content-icon">
            <button id="btn-menu"><i class="fas fa-bars"></i></button>
            <img src="img/logo2.png" alt="logo">
        </div>
        <div class="content-options oculto" id="options-menu">
            <a href="#">Mi cuenta</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
            <a href="#">Cerrar Sesión</a>
        </div>
    </header>
    <main class="main-end">
        <div class="menu-opciones-end">
            <button><a href="#">Crear</a></button>
            <button><a href="#">Enviar</a></button>
            <button class="b-active"><a href="#">Fin</a></button>
        </div>
        <div class="content-end">
            <p>Compartir los Resultados</p>
            <form action="" id="form-end">
                <div class="square-box">
                    <i class="fas fa-qrcode icon"></i>
                    <input type="text" value="https://encuestas.com/s/Hsdasop" class="name">
                    <div class="menu-lateral">
                        <button><i>Live</i></button>
                        <button><i>Previa <br>Imprimir</i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="resultado1"></div>
        <div class="resultado2"></div>
        <div class="resultado3"></div>


        </form>
    </main>
    <footer></footer>
    <script src="js/menu.js"></script>
</body>

</html>