<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <img src="img\logo-unvime.png" class="logo">
    <h1 class="title">Sistema de Encuestas v1.0</h1>
    <form class="form-login">
        <div class="content-inputs">
            <label for="userName">Nombre de usuario</label>
            <div class="container-icon">
                <i class="fas fa-user icon"></i>
                <input type="text" name="userName" placeholder="pepito">
            </div>
        </div>
        <div class="content-inputs">
            <label for="password">Password</label>
            <div class="container-icon">
                <i class="fas fa-unlock icon"></i>
                <input type="password" name="password" placeholder="xxxxxxx">
            </div>
        </div>
        <div class="content-check">
            <div>
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Recordarme</label>
            </div>
            <a href="#">¿Olvidó su password?</a>
        </div>
        <button type="submit">Ingresar</button>
        <a href="#">¿No tienes una cuenta?</a>
    </form>
    <footer>
        <div>
            <img src="https://www.flaticon.com/svg/static/icons/svg/2948/2948253.svg" alt="icon location" class="icon-footer">
            <p>Las Heras N° 383 Villa Mercedes</p>
        </div>
        <div>
            <img src="https://www.flaticon.com/svg/static/icons/svg/2948/2948253.svg" alt="icon location" class="icon-footer">
            <p>Telefono: 02657-422154</p>
        </div>
        <div>
            <img src="https://www.flaticon.com/svg/static/icons/svg/2948/2948253.svg" alt="icon location" class="icon-footer">
            <p>Oficina de Alumnos: 02657 - 428088</p>
        </div>
        <div>
            <img src="https://www.flaticon.com/svg/static/icons/svg/2948/2948253.svg" alt="icon location" class="icon-footer">
            <p>paginaunvime@unvime.edu.ar</p>
        </div>
        <p>@Copyright Unvime 2020</p>
    </footer>
</body>

</html>