<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/464db6ba33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="content-icon">
            <button id="btn-menu"><i class="fas fa-bars"></i></button>
            <img src="img/logo-unvime-sinletras.png" alt="logo">
        </div>
        <div class="content-options oculto" id="options-menu">
            <a href="#">Mi cuenta</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
            <a href="#">Cerrar Sesión</a>
        </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="js/menu.js"></script>
</body>
</html>