<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/464db6ba33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="content-icon">
            <button id="btn-menu"><i class="fas fa-bars"></i></button>
            <img src="img/logo-unvime-sinletras.png" alt="logo">
        </div>
        <div class="content-options oculto" id="options-menu">
            <a href="#">Mi cuenta</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
            <a href="#">Cerrar Sesión</a>
        </div>
    </header>
    <main class="main-send">
        <div class="menu-opciones">
            <button><a href="#">Crear</a></button>
            <button><a href="#">Enviar</a></button>
            <button><a href="#">Fin</a></button>
        </div>
        <p>Una rápida y simple URL para compartir</p>
        <div class="content-share">
            <form action="">
                <input type="text" value="https://encuestas.com/s/Hsdasop">
                <button><i class="fas fa-share-square"></i></button>
            </form>
        </div>
        <p>Compartir en sitios sociales...</p>
        <div class="content-social-networks">
            <a href="#"><i class="fab fa-whatsapp-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-snapchat-square"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-telegram-plane"></i></a>
            <a href="#"><i class="fab fa-pinterest-square"></i></a>
        </div>
        <div class="content-qr">
            <i class="fas fa-qrcode"></i>
            <p>Haga clic con el botón derecho del mouse en el código QR (izquierda) para descargarlo, y luego colóquelo en sus documentos impresos para permitir a los usuarios de smartphones escanear y abrir su formulario sin necesidad </p>
        </div>
    </main>
    <footer></footer>
    <script src="js/menu.js"></script>
</body>
</html>